<section class="jumbotron text-center" ng-if="!main.loggedIn">
    <div class="container">
        <h1>Welcome to Medieval War!</h1>
        <h5>Log in or Sign up to create your kingdom.</h5>
        <a href="/login" class="btn btn-large btn-primary">Login</a>
        <a href="/register" class="btn btn-large btn-primary">Register</a>
    </div>
</section>
<section class="jumbotron text-center" ng-if="main.loggedIn">
    <div class="container">
        <h1>Welcome to Medieval War!</h1>
        <p>Go to the dashboard to interact with other players and gather resources.</p>
        <p>The armoury will let you build up forces to ambush other players!</p>
        <p>Once you think you're strong enough, go to battle and ambush other players!</p>
    </div>
</section>