<section class="jumbotron text-center" ng-if="!main.loggedIn">
    <div class="container">
        <h1>Welcome to Medieval War!</h1>
        <h5>Log in or Sign up to create your kingdom.</h5>
        <a href="/login" class="btn btn-large btn-primary">Login</a>
        <a href="/register" class="btn btn-large btn-primary">Register</a>
    </div>
</section>
<section class="jumbotron text-center" ng-if="main.loggedIn">
    <div class="container">
        <h1 class = "jumbotron-header">Welcome to Medieval War!</h1>
    </div>
</section>
<div class="container" ng-if="main.loggedIn">
    <div class="row">
        <div class="col-md-4 d-flex align-items-stretch">
            <div class="card">
                <div class="card-header">
                    Dashboard
                </div>
                <div class="card-body">
                    <p class="card-text">
                        Access the dashboard to interact with others and gather resources! You'll need as much resources
                        as possible to create your army!
                    </p>
                    <a href="/dashboard" class="btn btn-primary">Dashboard</a>
                </div>
            </div>
        </div>
        <div class="col-md-4 d-flex align-items-stretch">
            <div class="card">
                <div class="card-header">
                    Armoury
                </div>
                <div class="card-body">
                    <p class="card-text">
                        Head to the armoury and build your armoury! You will need to make sure you've got the right resources. Pay close attention to the unit types, some might be better than others!
                    </p>
                    <a href="/armoury" class="btn btn-primary">Armoury</a>
                </div>
            </div>
        </div>
        <div class="col-md-4 d-flex align-items-stretch">
            <div class="card">
                <div class="card-header">
                    Battle
                </div>
                <div class="card-body">
                    <p class="card-text">
                        Think you've got what it takes to top the leaderboards? Do your talking on the battlefield. Fight your enemies and climb up the ranks.
                    </p>
                    <a href="/battle" class="btn btn-primary">Battle</a>
                </div>
            </div>
        </div>
    </div>
</div>