<div class="jumbotron text-center">
    <h1>Welcome to Medieval War!</h1>
    <div ng-if="!main.loggedIn">
        <p>Sign up to create your kingdom.</p>
        <a href="/login" class="btn btn-primary">Login</a>
        <a href="/register" class="btn btn-primary">Register</a>
    </div>

    <div ng-if="main.loggedIn">
        <p>Welcome to your kingdom!</p>
    </div>
</div>
<div class="container-fluid">
    <div class="jumbotron text-center">
        <h1>Welcome to Medieval War!</h1>
        <h5>Log in or Sign up to create your kingdom.</h5>
        <span class="btn btn-large btn-primary">Login</span>
        <span class="btn btn-large btn-primary">Login</span>
    </div>
</div>