<div class="row justify-content-md-center">
    <div class="col-6">
        <div class="jumbotron">
            <body class="text-center">
            <form class="form-signin" ng-submit="login.doLogin()">
                <h1 class="h2 mb-3">Login</h1>
                <label>Username</label>
                <input type="text" id="inputUsername" class="form-control" ng-model="login.loginData.username"
                       required autofocus>
                <label>Password</label>
                <input type="password" class="form-control" ng-model="login.loginData.password" id="inputPassword"
                       required>
                <div class="alert alert-danger" ng-if="login.error">
                    {{ login.error }}
                </div>
                <br>
                <button class="btn btn-lg btn-primary btn-block" type="submit">Sign in</button>
            </form>
            </body>
        </div>
    </div>
</div>