<div class="row justify-content-md-center">
    <div class="col-6">
        <div class="jumbotron">
            <body class="text-center">
            <form class="form-signin" ng-submit="register.registerUser()">
                <h1 class="h2 mb-3">Register</h1>
                <label>Name</label>
                <input type="text"class="form-control" ng-model="register.userData.name"
                       required autofocus>
                <label>Username</label>
                <input type="text" class="form-control" ng-model="register.userData.username"
                       required autofocus>
                <label>Password</label>
                <input type="password" class="form-control" ng-model="register.userData.password"
                       required>
                <br>
                <button class="btn btn-lg btn-primary btn-block" type="submit">Register</button>
            </form>
            </body>
        </div>
    </div>
</div>