<div class="jumbotron h1 text-center">
    <h1>Welcome to your armoury!</h1>
</div>
<br>
<div class="container">
    <div class="row" ng-controller="armouryController as armoury">
        <div class="col-3">
            <div class="col">
                <div class="row">
                    <h5>My Resources</h5>
                </div>
                <div class="row">
                    <span><i class="fas fa-utensils"></i>       {{ armoury.food }}</span>
                </div>
                <div class="row">
                    <span><i class="fas fa-balance-scale"></i>      {{ armoury.gold }}</span>
                </div>
                <div class="row">
                    <span><i class="fas fa-tree"></i>       {{ armoury.wood }}</span>
                </div>
                <br>
                <div class="row">
                    <h5>My Army</h5>
                </div>
                <div class="row">
                    <span><i class="fas fa-users"></i>       {{ armoury.infantry }}</span>
                </div>
                <div class="row">
                    <span><i class="fab fa-houzz"></i>      {{ armoury.cavalry }}</span>
                </div>
                <div class="row">
                    <span><i class="fas fa-long-arrow-alt-up"></i>       {{ armoury.archers }}</span>
                </div>
            </div>
        </div>
        <div class="col-9">
            <div class="row">
                <div class="col">
                    <div class="row">
                        <h5>Infantry</h5>
                    </div>
                    <div class="row">
                        <span>Cost: 150 Food, 120 Gold</span>
                    </div>
                    <div class="row">
                        <span>Attack: 3</span>
                    </div>
                    <div class="row">
                        <button ng-click="armoury.buyInfantry()" class="submit btn-lg btn-block"></i>Buy Infantry
                        </button>
                    </div>
                    <div class="row">
                        <div class="alert alert-danger" ng-if="armoury.infantryError">
                            {{ armoury.infantryError }}
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <div class="row">
                        <h5>Cavalry</h5>
                    </div>
                    <div class="row">
                        <span>Cost: 300 Food, 200 Gold</span>
                    </div>
                    <div class="row">
                        <span>Attack: 5</span>
                    </div>
                    <div class="row">
                        <button ng-click="armoury.buyCavalry()" class="submit btn-lg btn-block">Buy Cavalry</button>
                    </div>
                    <div class="row">
                        <div class="alert alert-danger" ng-if="armoury.cavalryError">
                            {{ armoury.cavalryError }}
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <div class="row">
                        <h5>Archers</h5>
                    </div>
                    <div class="row">
                        <span>Cost: 100 Food, 100 Gold, 200 wood</span>
                    </div>
                    <div class="row">
                        <span>Attack: 2</span>
                    </div>
                    <div class="row">
                        <button ng-click="armoury.buyArchers()" class="submit btn-lg btn-block">Buy Archers</button>
                    </div>
                    <div class="row">
                        <div class="alert alert-danger" ng-if="armoury.archerError">
                            {{ armoury.archerError }}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>